@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 80px;
        /* Handles sticky header natively */
        font-family: 'Inter', sans-serif;
        background-color: #F8FAFC;
        /* bg-background */
        color: #0f172a;
        /* text-slate-900 */
    }
}